.navbar {
  background-color: #1976d2 !important;
  margin-bottom: 0px !important;
  box-shadow: 2px 2px 5px -1px rgba(148, 118, 148, 1);
}

.navbar-brand {
  color: white !important;
}

.nav-item a {
  color: white !important;
}

@media screen and (max-width: 400px) {
  .auth-links li a {
    font-size: 15px !important;
  }

  .navbar-brand-items {
    flex-direction: column;
  }
}
