.reserve-input {
  border-radius: 0 0 10px 10px;
}

.reserve-input-label {
  border-radius: 10px 10px 0px 0px;
  justify-content: "center";
  width: "100%"
}

.reserve-container {
  box-shadow: 0px 0px 15px -10px rgba(71, 62, 71, 1);
  padding: 20px;
  border-radius: 20px;
  margin-top: 40px!important;
}